/* main.jsx に読み込まれる */
/* ⬇︎全ページ共通のCSSは「index.css」に書くのが基本です。 */
/* 「normalize.css」は npm（yarn）でパッケージとしてインストールする。yarn add normalize.css*/

/* ⬇︎tailwind.cssを使用する➡️main.jsxでimportする➡️App.jsx内の「Home.jsxで使えるようになる」 */
@import 'tailwindcss';

/* ⬇︎tailwindのカスタマイズ */
.bg-custom-yellow {
  background-color: #e7b900;
}

h1 {
  margin-top: 0;
}

/* ⬇︎タイピングアニメーション(カーソル点滅も追加) */
/*<span class="ityped-cursor">には影響しないので、点滅アニメは自作。
HTML+JavaScriptのityped.jsのcss設定も同じように設定している。 */
.ityped {
  display: inline-block;
  white-space: nowrap;
}
.ityped + .ityped-cursor {
  color: #000;
  font-size: 4.5rem;
  font-weight: 800;
  animation: blink 1s step-start infinite; /*　点滅アニメ　*/
}
/* 点滅アニメのkeyframes */
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* ⬇︎index.cssのデフォルト */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  font-family: 'Poppins', sans-serif; /* 自分で追加 */
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
