/* main.jsx に読み込まれる。全ページ共通のCSSは「index.css」に書くのが基本です。 */

/* ①「normalize.css」を使用する➡️yarn add normalize.cssでインストール。【main.jsxでimportする】 */
/* ②⬇︎tailwind.cssを使用する➡️yarn add -D tailwindcss @tailwindcss/vite 【main.jsxでimportする】*/
@import 'tailwindcss';

/******** ⬇︎TailwindCSSのカスタマイズ ********/
.bg-custom-yellow {
  background-color: #e7b900;
}

/******** ⬇︎自分で追加にindex.css ********/
h1 {
  margin-top: 0;
}
body {
  font-family: 'Poppins', sans-serif;
  word-break: break-all; /* 日本語用の途中で折り返してよい*/
  overflow-wrap: break-word; /* URLなどの長い単語が行からはみ出す場合、途中で折り返してよい */
}
:root {
  --text-sm: 0.875rem;
  --text-lg: 1.125rem;
}
/* 自作 タイピングアニメーション(点滅アニメも追加) */
.ityped {
  display: inline-block;
  white-space: nowrap;
}
.ityped + .ityped-cursor {
  color: #000;
  font-size: 4.5rem;
  font-weight: 800;
  animation: blink 1s step-start infinite; /* 点滅アニメのkeyframes */
}
/* 点滅アニメのkeyframes */
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/******** デフォルトindex.css ********/
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
