/* main.jsx に読み込まれる。全ページ共通のCSSは「index.css」に書くのが基本です。 */

/* 🔶「tailwind.css」を使用する*/
/* ①yarn add -D tailwindcss @tailwindcss/vite */
/* ②「main.jsx」でimportする */
@import 'tailwindcss';

/*　🔶おすすめletter-spacing
通常本文（p）➡️ 0.02em
見出し（h1〜）➡️ 0.04em
英字見出し(ALL CAPS)➡️ 0.08em〜0.12em
ナビ・ボタン ➡️ 0.05em
*/

/******** TailwindCSSのカスタマイズ ********/
.bg-custom-yellow {
  background-color: #e7b900;
}

/******** 自分で追加 ********/
/* 変数定義 */
:root {
  /* 見出し */
  --text-heading-h1: 2rem; /* 32px */
  --text-heading-h2: 1.5rem; /* 24px */
  --text-heading-h3: 1.25rem; /* 20px */
  --text-heading-h4: 1.125rem; /* 18px */
  --text-heading-h5: 1rem; /* 16px */
  --text-heading-h6: 0.875rem; /* 14px */

  /* 本文 */
  --text-base: 1rem;

  /* span */
  --text-span: 1rem;

  /* 補足・キャプション */
  --text-small: 0.875rem;

  /* ボタン */
  --text-button: 0.875rem;

  /* color */
  --color-white: #fff;
  --color-gray: #929292;

  /* header / width / padding / margin / height */
  --header-height: 82.2px;

  --layout-max-width: 1280px;
  --layout-padding: 16px;

  --res-sec-padding-top: 50px;
  --sec-padding-top: 100px;

  --res-sec-padding-bottom: 50px;
  --sec-padding-bottom: 100px;

  --res-pages-padding-top: 50px;
  --pages-padding-top: 100px;
}

/* @layer base{}で TailWindCSSを優先させるように設定 */
/* ・つまり下記のcssは、TailWindCSSと競合せず「TailWindCSSが最優先されるようになる。」 */
/* ・@layer base{}の外に書いたCSSは「Tailwind utilitiesより後に出力されるようになり、TailWindCSSが最優先されない。」 */
@layer base {
  html {
    /* font-sizeを rem で使用するための基準16px */
    font-size: 16px;
  }

  body {
    font-family: 'Poppins', sans-serif;
    word-break: break-all; /* 日本語用の途中で折り返してよい*/
    overflow-wrap: break-word; /* URLなどの長い単語が行からはみ出す場合、途中で折り返してよい */

    font-size: 1rem;
    line-height: 1.7;
    letter-spacing: 0.02em;
    background-color: #242424;
    /* background-color: #1e1c1c; */
  }

  /* ⬇︎日本語タイトルだけにNotoSansJPを使用する。これを付けない日本語等にはPoppinsが使用される。端末環境ではsans-serifが使用。 */
  .title__ja {
    font-family: 'Noto Sans JP', sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
    margin-bottom: 0.6em;
  }

  h1 {
    font-size: var(--text-heading-h1);
    color: var(--color-white);
    line-height: 1.2;
  }
  h2 {
    font-size: var(--text-heading-h2);
    color: var(--color-white);
    line-height: 1.25;
  }
  h3 {
    font-size: var(--text-heading-h3);
    color: var(--color-white);
    line-height: 1.3;
  }
  h4 {
    font-size: var(--text-heading-h4);
    color: var(--color-white);
    line-height: 1.35;
  }
  h5 {
    font-size: var(--text-heading-h5);
    color: var(--color-white);
    line-height: 1.4;
  }
  h6 {
    font-size: var(--text-heading-h6);
    color: var(--color-white);
    line-height: 1.45;
  }

  p {
    font-size: var(--text-base);
    color: var(--color-white);
    line-height: 1.4;
  }

  span {
    font-size: var(--text-span);
    color: var(--color-white);
    line-height: 1.4;
  }

  small {
    font-size: var(--text-small);
    color: var(--color-white);
    line-height: 1.4;
  }

  button {
    font-size: var(--text-button);
    line-height: 1.4;
  }

  span.fade-split {
    font-size: 3.5rem;
    display: inline-block;
    font-weight: bold;
  }
  p.char {
    font-size: 1rem;
    font-weight: bold;
  }
  p.fade-p {
    font-size: 1rem;
    font-weight: bold;
  }

  /* タイピングアニメーション(点滅アニメも追加) */
  .ityped {
    line-height: 1.4;
    display: inline;
    white-space: normal;
    word-break: break-word;
  }
  .ityped + .ityped-cursor {
    color: #000;
    font-size: 1rem;
    animation: blink 1s step-start infinite; /* 点滅アニメのkeyframes */
  }

  /****** @media (min-width: 768px〜 ******/
  @media (min-width: 768px) {
    span.fade-split {
      font-size: 4.5rem;
      display: inline-block;
      font-weight: bold;
    }
    p.char {
      font-size: 1.2rem;
      font-weight: bold;
    }
    .ityped + .ityped-cursor {
      font-size: 1rem;
    }
  }
  /****** @media (min-width: 1024px〜 ******/
  @media (min-width: 1024px) {
    .ityped + .ityped-cursor {
      font-size: 1rem;
    }
  }

  /* 点滅アニメのkeyframes */
  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  .github-spin {
    animation: fa-spin 5s linear infinite;
  }
  .skill-icon {
    color: #61dafb;
  }
  /******** デフォルト設定********/
  /* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

  a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }
  a:hover {
    color: #535bf2;
  }

  body {
    margin: 0;
    /* display: flex; */
    /* place-items: center; */
  }

  h1 {
    line-height: 1.1;
  }

  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #646cff;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  /* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
}
